<div class="mb-20px mr-20px">
    <checkbox class="size-s" [value]="true">Checkbox label</checkbox>
</div>
<div class="mb-20px mr-20px">
    <checkbox class="mb-20px size-s" [value]="true" [disabled]="true">
        Checkbox label
    </checkbox>
</div>
<div class="mb-20px mr-20px">
    <checkbox class="mb-20px size-s" [value]="false">
        Checkbox label
    </checkbox>
</div>
<div class="mb-20px mr-20px">
    <checkbox class="mb-20px size-s" [value]="false" [disabled]="true">
        Checkbox label
    </checkbox>
</div>
<div class="mb-20px mr-20px">
    <checkbox class="size-s" [blueCheck]="true" [value]="true" [disabled]="true">
        Checkbox label
    </checkbox>
</div>
<div class="mb-20px mr-20px">
    <checkbox class="size-s" [undefinedState]="true">
        Checkbox label
    </checkbox>
</div>
<div class="mb-20px mr-20px">
    <checkbox class="size-s" [undefinedState]="true" [disabled]="true">
        Checkbox label
    </checkbox>
</div>
