<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Components</li>
    </ol>
</nav>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/#/components">Components</a></li>
        <li class="breadcrumb-item active" aria-current="page">Modal</li>
    </ol>
</nav>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/#/components">Components</a></li>
        <li class="breadcrumb-item"><a href="/#/components/modal">Modal</a></li>
        <li class="breadcrumb-item active" aria-current="page">Some Modal</li>
    </ol>
</nav>
