@use 'mixins' as *;

.loader,
.loader:after {
    border-radius: 50%;
    width: inherit;
    height: inherit;
}

.loader {
    position: relative;
    text-indent: -9999em;
    border-top: 1px solid cssvar(border-and-dividers);
    border-right: 1px solid cssvar(border-and-dividers);
    border-bottom: 1px solid cssvar(border-and-dividers);
    border-left: 1px solid cssvar(brand-base);
    transform: translateZ(0);
    animation: load8 1.1s infinite linear;
}

.type--white.loader {
    border-color: cssvar(white);
    border-left-color: rgba(255, 255, 255, 0.12);
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
