:host {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

:host ::ng-deep {
    .lib-sidenav {
        z-index: 2;
        height: 100%;

        &-over {
            position: absolute;
        }
    }

    .lib-sidenav-content {
        z-index: 1;
        flex: 1;
    }
}
