<div class="mb-20px">
    <lib-radio-button
        [name]="'checkedRadio'"
        [checked]="true"
        [label]="'Radio label'"
    ></lib-radio-button>
</div>
<div class="mb-20px">
    <lib-radio-button
        [name]="'checkedDisabledRadio'"
        [checked]="true"
        [disabled]="true"
        [label]="'Radio label'"
    ></lib-radio-button>
</div>
<div class="mb-20px">
    <lib-radio-button
        [name]="'uncheckedRadio'"
        [checked]="false"
        [label]="'Radio label'"
    ></lib-radio-button>
</div>
<div class="mb-20px">
    <lib-radio-button
        [name]="'uncheckedDisabledRadio'"
        [checked]="false"
        [disabled]="true"
        [label]="'Radio label'"
    ></lib-radio-button>
</div>
