<lib-nav [useHorizontalScroll]="true">
    <ng-container *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
        <ng-template
            navItem
            [navItemName]="'Item ' + item"
            [navItemId]="'tab' + item"
        >
            <div>Tab Content {{ item }}</div>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut
                consequuntur culpa dolor earum facilis illum laboriosam minima
                minus, mollitia necessitatibus nihil, obcaecati officia optio
                perferendis provident sed sit voluptas. Lorem ipsum dolor sit
                amet, consectetur adipisicing elit. Animi asperiores error nam!
                Animi consectetur eius magni natus neque! Cumque cupiditate
                facilis ipsa, ipsam laboriosam minus perferendis veritatis
                voluptas? Nostrum, saepe! Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Blanditiis doloribus eligendi
                magnam nesciunt quam reprehenderit soluta tempora! Accusantium
                ad dolorem enim eum excepturi illum maxime omnis, quia quis
                ratione suscipit? Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Ab ducimus, facilis illo ipsa iste obcaecati
                repudiandae. Corporis culpa dicta doloribus eos error, impedit
                ipsa labore natus provident quam, sit, ullam. Lorem ipsum dolor
                sit amet, consectetur adipisicing elit. A debitis dignissimos
                itaque non praesentium quas rem! At esse mollitia placeat quam!
                Dignissimos est et molestiae sequi similique temporibus
                veritatis voluptates.
            </div>
        </ng-template>
    </ng-container>
</lib-nav>

<h2>Horizontal scroll</h2>
<div class="d-flex horizontal-scroll-container" libScroller [libScrollerSize]="20">
    <div *ngFor="let item of [].constructor(20); let i = index" class="tile">
        {{ i }}
    </div>
</div>

<h2>Vertical scroll</h2>
<div
    class="vertical-container mt-4"
    libScroller
    libScrollerDir="vertical"
    [libScrollerSize]="20"
>
    <div *ngFor="let item of [].constructor(10); let i = index">
        {{ i }}
    </div>
</div>

<h2>Horizontal Navigation with Context Menu</h2>
<lib-nav [useHorizontalScroll]="true">
    <ng-container *ngFor="let item of navItemsWithContextMenu">
        <ng-template
            navItem
            [navItemName]="item.navItemName"
            [navItemLink]="item.navItemLink"
            [navItemContextMenuItems]="item.navItemContextMenuItems"
        >
        </ng-template>
    </ng-container>
</lib-nav>

<h2>Horizontal Navigation with lazy loaded Context Menu</h2>
<lib-nav [useHorizontalScroll]="true" (navItemClick)="onItemClicked($event)">
    <ng-container *ngFor="let item of horizontalItems">
        <ng-template
            navItem
            [navItemId]="item.id"
            [navItemName]="item.navItemName"
            [navItemLink]="item.navItemLink"
            [navItemContextMenuItems]="item.navItemContextMenuItems"
            
        >
        </ng-template>
    </ng-container>
</lib-nav>