<div class="modal-main-container d-block">
    <lib-modal-header>
        <span>Modal</span>
    </lib-modal-header>

    <div class="modal-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis
        distinctio dolores doloribus eius laborum placeat praesentium
        reprehenderit, sapiente! Adipisci commodi ea facere iure minus nam nobis
        numquam quod, repellendus soluta. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Accusantium animi cum, cumque dicta dolore
        doloribus earum enim id impedit libero maiores, non qui quis recusandae
        sed sunt suscipit, ullam vel.
    </div>
</div>