::ng-deep .center-modal {
    width: auto !important;
    left: 50% !important;
    transform: translateX(-50%);
}

::ng-deep .restrict-delete-dialog {
    width: auto !important;
    height: auto !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
    .modal-dialog {
        max-width: 640px !important;
    }
}
