<div class="mb-20px">
    <lib-radio-button
        class="size-s"
        [name]="'checkedRadioSizeS'"
        [checked]="true"
        [label]="'Radio label'"
    ></lib-radio-button>
</div>
<div class="mb-20px">
    <lib-radio-button
        class="size-s"
        [name]="'checkedDisabledRadioSizeS'"
        [checked]="true"
        [disabled]="true"
        [label]="'Radio label'"
    ></lib-radio-button>
</div>
<div class="mb-20px">
    <lib-radio-button
        class="size-s"
        [name]="'uncheckedRadioSizeS'"
        [checked]="false"
        [label]="'Radio label'"
    ></lib-radio-button>
</div>
<div class="mb-20px">
    <lib-radio-button
        class="size-s"
        [name]="'uncheckedDisabledRadioSizeS'"
        [checked]="false"
        [disabled]="true"
        [label]="'Radio label'"
    ></lib-radio-button>
</div>
