<div class="blue-tab d-flex vertical-tab">
    <nav #verticalNav="ngbNav" ngbNav class="nav nav-tabs d-block">
        <ng-container ngbNavItem="tab1">
            <a ngbNavLink>Tab 1</a>
            <ng-template ngbNavContent>
                <div>
                    Tab Content 1
                </div>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut consequuntur culpa dolor earum facilis illum
                    laboriosam minima minus, mollitia necessitatibus nihil, obcaecati officia optio perferendis provident sed sit
                    voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores error nam! Animi consectetur
                    eius magni natus neque! Cumque cupiditate facilis ipsa, ipsam laboriosam minus perferendis veritatis voluptas?
                    Nostrum, saepe! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloribus eligendi magnam
                    nesciunt quam reprehenderit soluta tempora! Accusantium ad dolorem enim eum excepturi illum maxime omnis, quia quis
                    ratione suscipit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ducimus, facilis illo ipsa iste
                    obcaecati repudiandae. Corporis culpa dicta doloribus eos error, impedit ipsa labore natus provident quam, sit,
                    ullam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A debitis dignissimos itaque non praesentium quas
                    rem! At esse mollitia placeat quam! Dignissimos est et molestiae sequi similique temporibus veritatis voluptates.
                </div>
            </ng-template>
        </ng-container>
        <ng-container ngbNavItem="tab2">
            <a ngbNavLink>Tab 2</a>
            <ng-template ngbNavContent>
                <div>
                    Tab Content 2
                </div>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consectetur delectus deleniti dolorum esse, eum facilis
                    id ipsum minima natus neque, nihil odio, porro provident reiciendis soluta ullam voluptas voluptate. Lorem ipsum
                    dolor sit amet, consectetur adipisicing elit. A deleniti dolor enim incidunt iste modi nostrum numquam obcaecati
                    optio, perferendis porro possimus quia, ratione, reprehenderit saepe sint tempora ullam unde? Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit. Enim harum laudantium libero molestias nostrum omnis quas recusandae. Alias
                    animi aperiam debitis distinctio eos fugit magni mollitia nihil, quisquam quod temporibus. Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit. A ad, alias animi aperiam architecto beatae commodi deleniti earum eos ex hic
                    laudantium nostrum numquam rem suscipit vel veniam! Nobis, placeat. Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Aliquam assumenda, atque exercitationem hic in ipsam laudantium magnam magni, perspiciatis
                    provident quasi repellat suscipit temporibus vel vitae. Atque, nobis quod. Perferendis. Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Blanditiis est facilis fugiat fugit illum itaque libero minima placeat repellat
                    voluptas. Adipisci aliquid dolorum enim incidunt, quae repellendus suscipit tempora vero? Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit. Atque doloremque dolorum impedit, necessitatibus odit qui tempora temporibus
                    totam. Accusamus aut culpa deserunt dignissimos dolor fugiat, iste nam qui sit temporibus.
                </div>
            </ng-template>
        </ng-container>
        <ng-container ngbNavItem="tab3">
            <a ngbNavLink>Tab 3</a>
            <ng-template ngbNavContent>
                <div>
                    Tab Content 3
                </div>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet aperiam architecto autem dicta dolore dolorem
                    eveniet fuga itaque minima nulla officia, officiis pariatur quia rerum sit veritatis vero voluptate! Lorem ipsum
                    dolor sit amet, consectetur adipisicing elit. Alias consequatur dolore incidunt magni nostrum porro quod? Aliquam
                    dolore ducimus, earum eum fuga laborum modi obcaecati, quae quibusdam repellendus sit vero. Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit. Amet, consectetur distinctio eaque earum eligendi exercitationem illo ipsam
                    labore maiores nesciunt, non obcaecati officiis quo quod quos sequi soluta, totam voluptatem. Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit. Asperiores assumenda cum delectus, deserunt dolores doloribus earum natus
                    necessitatibus odit omnis provident quaerat quia rem saepe tenetur totam ut? Ratione, repellat. Lorem ipsum dolor
                    sit amet, consectetur adipisicing elit. Fuga modi numquam omnis perspiciatis, praesentium quae qui temporibus.
                    Cumque deserunt eaque eligendi fuga laborum magnam modi nobis, officia quidem ratione, veritatis! Lorem ipsum dolor
                    sit amet, consectetur adipisicing elit. Aperiam earum error mollitia necessitatibus officia, rem sunt ut. Dolore
                    doloremque fuga molestias ut. Amet consequatur consequuntur cumque, dignissimos eaque fuga quisquam!
                </div>
            </ng-template>
        </ng-container>
    </nav>
    <div class="pl-20px" [ngbNavOutlet]="verticalNav"></div>
</div>
