<div class="d-flex flex-wrap">
    <button type="button" class="btn btn-primary mr-3 mb-1" disabled>Primary</button>
    <button type="button" class="btn btn-success mr-3 mb-1" disabled>Success</button>
    <button type="button" class="btn btn-danger mr-3 mb-1" disabled>Danger</button>
    <button type="button" class="btn btn-warning mr-3 mb-1" disabled>Warning</button>
    <button type="button" class="btn btn-secondary mr-3 mb-1" disabled>
        Secondary
    </button>
    <button type="button" class="btn btn-link mr-3 mb-1" disabled>Link</button>
    <button type="button" class="btn btn-light mr-3 mb-1" disabled>Light</button>
</div>
