@include cssvars(
    (
        body-color: #fff,
        // new color scheme
            title: #fff,
        primary-text: #dedede,
        secondary-text-and-icons: #b2b1b1,
        disable: #4f4c4d,
        border-and-dividers: #3e3a3b,
        blackout: rgba(0, 0, 0, 0.3),
        background: #231f20,
        cards-and-blocks: #2c2829,
        table-header: #343131,
        table-header-new: #343131,
        checkbox-background: rgba(0, 0, 0, 0.3),
        checkbox-background-disabled: #2c2829,
        checkbox-blackout: #2c2829,
        radio-disable: #515151,
        toggle-off-background: rgba(0, 0, 0, 0.3),
        toggle-off-circle: #515151,
        critical-base: #ab644f,
        tile-gray: rgba(0, 0, 0, 0.3),
        tile-white: rgba(255, 255, 255, 0.12),
        grid-no-rows-layout-data: #ffffff
    ),
    "dark-da"
);
