@import "../variables";

@include cssvars(
    (
        body-color: $primary-text,
        body-bg: #fff,
        light: $gray-4,
        modal-content-bg: #fff,
        border: $border-and-dividers,
        gray-1: $gray-1,
        gray-2: $gray-2,
        gray-3: $gray-3,
        gray-4: $gray-4,
        gray-5: $gray-5,
        gray-6: $gray-6,
        gray-7-hover: $gray-7-hover,
        color-border-1: $color-border-1,
        color-border-2: $color-border-2,
        color-border-3: $color-border-3,
        color-border-4: $color-border-4,
        color-border-5: $color-border-5,
        color-border-6: $color-border-6,
        color-border-7: $color-border-7,
        color-font-2: $color-font-2,
        color-font-3: $color-font-3,
        color-font-4: $color-font-4,
        color-font-5: $color-font-5,
        color-font-6: $color-font-6,
        color-font-7: $color-font-7,
        color-font-8: $color-font-8,
        color-line-1: $color-line-1,
        color-line-2: $color-line-2,
        color-line-3: $color-line-3,
        color-line-4: $color-line-4,
        color-line-5: $color-line-5,
        color-line-6: $color-line-6,
        color-line-7: $color-line-7,
        color-line-8: $color-line-8,
        color-line-9: $color-line-9,
        color-line-10: $color-line-10,
        color-line-11: $color-line-11,
        color-line-4-b: $color-line-4-b,
        color-line-1-l: $color-line-1-l,
        color-line-2-l: $color-line-2-l,
        color-line-3-l: $color-line-3-l,
        color-line-4-l: $color-line-4-l,
        color-line-5-l: $color-line-5-l,
        color-line-6-l: $color-line-6-l,
        color-line-7-l: $color-line-7-l,
        color-line-8-l: $color-line-8-l,
        color-line-9-l: $color-line-9-l,
        color-1-hover: $color-1-hover,
        color-4-hover: $color-4-hover,
        color-0-normal: $color-0-normal,
        color-1-normal: $color-1-normal,
        color-2-normal: $color-2-normal,
        color-3-normal: $color-3-normal,
        color-4-normal: $color-4-normal,
        color-5-normal: $color-5-normal,
        color-6-normal: $color-6-normal,
        color-7-normal: $color-7-normal,
        color-8-normal: $color-8-normal,
        color-9-normal: $color-9-normal,
        color-10-normal: $color-10-normal,
        color-11-normal: $color-11-normal,
        color-1-border: $color-1-border,
        color-2-border: $color-2-border,
        color-3-border: $color-3-border,
        color-4-border: $color-4-border,
        color-5-border: $color-5-border,
        color-6-border: $color-6-border,
        color-7-border: $color-7-border,
        color-8-border: $color-8-border,
        color-9-border: $color-9-border,
        color-10-border: $color-10-border,
        color-11-border: $color-11-border,
        color-1-fill: $color-1-fill,
        color-2-fill: $color-2-fill,
        color-3-fill: $color-3-fill,
        color-4-fill: $color-4-fill,
        color-5-fill: $color-5-fill,
        color-6-fill: $color-6-fill,
        color-7-fill: $color-7-fill,
        color-8-fill: $color-8-fill,
        color-9-fill: $color-9-fill,
        color-10-fill: $color-10-fill,
        color-11-fill: $color-11-fill,
        notification-label-color-1: $notification-label-color-1,
        notification-label-color-2: $notification-label-color-2,
        notification-label-color-3: $notification-label-color-3,
        notification-label-color-4: $notification-label-color-4,
        notification-border-color-1: $notification-border-color-1,
        notification-border-color-2: $notification-border-color-2,
        notification-border-color-3: $notification-border-color-3,
        notification-border-color-4: $notification-border-color-4,
        notification-font-color-1: $notification-font-color-1,
        notification-font-color-2: $notification-font-color-2,
        notification-font-color-3: $notification-font-color-3,
        notification-font-color-4: $notification-font-color-4,
        notification-fill-color-1: $notification-fill-color-1,
        notification-fill-color-2: $notification-fill-color-2,
        notification-fill-color-3: $notification-fill-color-3,
        notification-fill-color-4: $notification-fill-color-4,
        tooltip-dark: $tooltip-dark,
        tooltip-system: $tooltip-system,
        primary: $primary,
        gray-200: $gray-200,
        white: $white,
        table-border-color: $table-border-color,
        input-border-color: $input-border-color,
        dropdown-border-color: $dropdown-border-color,
        nav-tabs-border-color: $nav-tabs-border-color,
        table-row-color: $table-row-color,
        popup-icon-close-color: $popup-icon-close-color,
        popup-icon-warning-color: $popup-icon-warning-color,
        icon-regular-color: $color-font-4,
        trigger-width: 38px,
        trigger-height: 16px,
        input-height: $input-height,
        font-inactive: $color-font-2,
        exclamation-color: $color-0-normal,
        dropdown-border: $dropdown-border,
        dropdown-border-radius: $dropdown-border-radius,
        yellow-base-12: $yellow-base-12,
        yellow-base: $yellow-base,
        yellow-hover: $yellow-hover,
        yellow-active: $yellow-active,
        yellow-disabled: $yellow-disabled,
        green-base-12: $green-base-12,
        green-base: $green-base,
        green-hover: $green-hover,
        green-active: $green-active,
        green-disabled: $green-disabled,
        turquoise-base-12: $turquoise-base-12,
        turquoise-base: $turquoise-base,
        turquoise-hover: $turquoise-hover,
        turquoise-active: $turquoise-active,
        turquoise-disabled: $turquoise-disabled,
        blue-base-12: $blue-base-12,
        blue-base: $blue-base,
        blue-hover: $blue-hover,
        blue-active: $blue-active,
        blue-disabled: $blue-disabled,
        indigo-base-12: $indigo-base-12,
        indigo-base: $indigo-base,
        indigo-hover: $indigo-hover,
        indigo-active: $indigo-active,
        indigo-disabled: $indigo-disabled,
        purple-base-12: $purple-base-12,
        purple-base: $purple-base,
        purple-hover: $purple-hover,
        purple-active: $purple-active,
        purple-disabled: $purple-disabled,
        magenta-base-12: $magenta-base-12,
        magenta-base: $magenta-base,
        magenta-hover: $magenta-hover,
        magenta-active: $magenta-active,
        magenta-disabled: $magenta-disabled,
        mauve-base-12: $mauve-base-12,
        mauve-base: $mauve-base,
        mauve-hover: $mauve-hover,
        mauve-active: $mauve-active,
        mauve-disabled: $mauve-disabled,
        // new color scheme
            title: $title,
        primary-text: $primary-text,
        secondary-text-and-icons: $secondary-text-and-icons,
        disable: $disable,
        border-and-dividers: $border-and-dividers,
        blackout: $blackout,
        background: $background,
        cards-and-blocks: $cards-and-blocks,
        table-header: $table-header,
        table-header-new: #f0efef,
        brand-12: $brand-12,
        brand-20: $brand-20,
        brand-disabled: $brand-disabled,
        brand-base: $brand-base,
        brand-hover: $brand-hover,
        brand-active: $brand-active,
        dark-sand-base-12: $dark-sand-base-12,
        dark-sand-base-20: $dark-sand-base-20,
        dark-sand-base: $dark-sand-base,
        dark-sand-hover: $dark-sand-hover,
        dark-sand-active: $dark-sand-active,
        dark-sand-disabled: $dark-sand-disabled,
        extremely-good-base-12: $extremely-good-base-12,
        extremely-good-base-20: $extremely-good-base-20,
        extremely-good-base: $extremely-good-base,
        extremely-good-hover: $extremely-good-hover,
        extremely-good-active: $extremely-good-active,
        extremely-good-disabled: $extremely-good-disabled,
        success-base-12: $success-base-12,
        success-base-20: $success-base-20,
        success-base: $success-base,
        success-hover: $success-hover,
        success-active: $success-active,
        success-disabled: $success-disabled,
        warning-base-12: $warning-base-12,
        warning-base-20: $warning-base-20,
        warning-base: $warning-base,
        warning-hover: $warning-hover,
        warning-active: $warning-active,
        warning-disabled: $warning-disabled,
        error-base-12: $error-base-12,
        error-base-20: $error-base-20,
        error-base: $error-base,
        error-hover: $error-hover,
        error-active: $error-active,
        error-disabled: $error-disabled,
        critical-base-12: $critical-base-12,
        critical-base: $critical-base,
        critical-hover: $critical-hover,
        critical-active: $critical-active,
        extra-base-12: $extra-base-12,
        extra-base: $extra-base,
        tile-gray: $tile-gray,
        tile-gray-hover: $tile-gray-hover,
        tile-gray-active: $tile-gray-active,
        checkbox-background: $white,
        checkbox-background-disabled: $brand-disabled,
        checkbox-blackout: $blackout,
        radio-disable: $white,
        toggle-off-background: $border-and-dividers,
        toggle-off-circle: $white,
        soft-default-shadow: $soft-default-shadow,
        card-hover-box-shadow: $card-hover-box-shadow,
        dropdown-box-shadow: $dropdown-box-shadow,
        link-color: cssvar(brand-base),
        link-hover: cssvar(brand-hover),
        link-active: cssvar(brand-active),
        link-disabled: cssvar(disable),
        hover: #038da0,
        grid-no-rows-layout-data: #000000,
        grid-no-rows-layout-filters: cssvar(disable)
    )
);
