@include cssvars(
    (
        brand-12: rgba(0, 151, 171, 0.12),
        brand-20: rgba(0, 151, 171, 0.2),
        brand-disabled: #4cb6c4,
        brand-base: #0097ab,
        brand-hover: #038da0,
        brand-active: #077f8f,
        checkbox-background-disabled: #4cb6c4,
        toggle-off-circle: #4cb6c4,
        hover: #038da0
    ),
    "light-ust"
);
