<perfect-scrollbar class="mb-20px max-height-and-width-200px">
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut
        consequuntur, delectus laboriosam optio quidem reiciendis rem
        repudiandae sapiente. Animi commodi doloremque doloribus ea natus
        perspiciatis placeat ratione saepe veritatis. Lorem ipsum dolor sit
        amet, consectetur adipisicing elit. Assumenda consectetur culpa dolores
        eius error, et fuga in inventore, iste magni minus molestiae numquam
        officia porro praesentium quia, repellat reprehenderit temporibus! Lorem
        ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, ducimus ea
        fuga fugit labore laboriosam praesentium, provident quaerat quod, rem
        reprehenderit sunt tempore voluptates. Accusamus dolorum odit officia
        repellat totam. Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Assumenda, beatae culpa cupiditate dolor eos est inventore
        laudantium modi molestiae porro, similique soluta vel vero voluptas
        voluptates. Cumque eveniet itaque non! Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Cupiditate dolorem impedit laborum
        obcaecati sed sit ut. Dolores enim, ipsam quae similique soluta
        suscipit! Accusamus, consequuntur cumque doloribus laudantium recusandae
        rem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut
        consequuntur, delectus laboriosam optio quidem reiciendis rem
        repudiandae sapiente. Animi commodi doloremque doloribus ea natus
        perspiciatis placeat ratione saepe veritatis. Lorem ipsum dolor sit
        amet, consectetur adipisicing elit. Assumenda consectetur culpa dolores
        eius error, et fuga in inventore, iste magni minus molestiae numquam
        officia porro praesentium quia, repellat reprehenderit temporibus! Lorem
        ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, ducimus ea
        fuga fugit labore laboriosam praesentium, provident quaerat quod, rem
        reprehenderit sunt tempore voluptates. Accusamus dolorum odit officia
        repellat totam. Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Assumenda, beatae culpa cupiditate dolor eos est inventore
        laudantium modi molestiae porro, similique soluta vel vero voluptas
        voluptates. Cumque eveniet itaque non! Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Cupiditate dolorem impedit laborum
        obcaecati sed sit ut. Dolores enim, ipsam quae similique soluta
        suscipit! Accusamus, consequuntur cumque doloribus laudantium recusandae
        rem!
    </div>
</perfect-scrollbar>
