<lib-info-box class="mb-3">
    Create & manage your library templates. You can map these as part of your project templates
</lib-info-box>

<lib-info-box>
    Use of some third party materials included in the Software may be subject to other terms and conditions typically found in a separate
    license agreement, a “Read Me” file located near such materials, or in the “Third Party Software Notices and/or Additional Terms and
    Conditions” found at [link to list of compile third party notices]. Such other terms and conditions will supersede all or portions of
    this agreement in the event of a conflict with the terms and conditions of this Agreement.</lib-info-box
>
