<div class="d-inline-flex">
    <div class="zoom-div size-l mr-30px">
        <span class="zoom-btn zoom-btn-up">+</span><br/>
        <span class="zoom-btn zoom-btn-down">–</span>
    </div>

    <div class="zoom-div mr-30px">
        <span class="zoom-btn zoom-btn-up">+</span><br/>
        <span class="zoom-btn zoom-btn-down">–</span>
    </div>

    <div class="zoom-div size-s">
        <span class="zoom-btn zoom-btn-up">+</span><br/>
        <span class="zoom-btn zoom-btn-down">–</span>
    </div>
</div>
