<div class="d-flex flex-wrap">
    <span class="custom-badge mr-30px">Text</span>

    <span class="custom-badge custom-badge-background text-white mr-30px">Text</span>

    <span class="custom-badge mr-30px">
        <fa-icon icon="facBuildSuccess"></fa-icon>
        99+
    </span>

    <span class="custom-badge custom-badge-background text-white mr-30px">
        <fa-icon icon="facBuildSuccess"></fa-icon>
        99+
    </span>

    <span class="custom-badge mr-30px nested-badge">
        Text
        <fa-icon icon="facBuildSuccess"></fa-icon>
        <span class="custom-badge custom-badge-background text-white ml-5px">99</span>
    </span>

    <span class="custom-label mr-30px">Text</span>
    <span class="custom-label custom-label-left mr-30px">Text</span>
</div>

<div class="d-flex flex-wrap mt-25px">
    <span class="custom-badge success mr-30px">Text</span>

    <span class="custom-badge custom-badge-background success text-white mr-30px">Text</span>

    <span class="custom-badge success mr-30px">
        <fa-icon icon="facBuildSuccess"></fa-icon>
        99+
    </span>

    <span class="custom-badge custom-badge-background success text-white mr-30px">
        <fa-icon icon="facBuildSuccess"></fa-icon>
        99+
    </span>

    <span class="custom-badge success mr-30px nested-badge">
        Text
        <fa-icon icon="facBuildSuccess"></fa-icon>
        <span class="custom-badge custom-badge-background success text-white ml-5px">99</span>
    </span>

    <span class="custom-label success mr-30px">Text</span>
    <span class="custom-label custom-label-left success mr-30px">Text</span>
</div>

<div class="d-flex flex-wrap mt-25px">
    <span class="custom-badge warning mr-30px">Text</span>

    <span class="custom-badge custom-badge-background warning text-white mr-30px">Text</span>

    <span class="custom-badge warning mr-30px">
        <fa-icon icon="facBuildSuccess"></fa-icon>
        99+
    </span>

    <span class="custom-badge custom-badge-background warning text-white mr-30px">
        <fa-icon icon="facBuildSuccess"></fa-icon>
        99+
    </span>

    <span class="custom-badge warning mr-30px nested-badge">
        Text
        <fa-icon icon="facBuildSuccess"></fa-icon>
        <span class="custom-badge custom-badge-background warning text-white ml-5px">99</span>
    </span>

    <span class="custom-label warning mr-30px">Text</span>
    <span class="custom-label custom-label-left warning mr-30px">Text</span>
</div>

<div class="d-flex flex-wrap mt-25px">
    <span class="custom-badge error mr-30px">Text</span>

    <span class="custom-badge custom-badge-background error text-white mr-30px">Text</span>

    <span class="custom-badge error mr-30px">
        <fa-icon icon="facBuildSuccess"></fa-icon>
        99+
    </span>

    <span class="custom-badge custom-badge-background error text-white mr-30px">
        <fa-icon icon="facBuildSuccess"></fa-icon>
        99+
    </span>

    <span class="custom-badge error mr-30px nested-badge">
        Text
        <fa-icon icon="facBuildSuccess"></fa-icon>
        <span class="custom-badge custom-badge-background error text-white ml-5px">99</span>
    </span>

    <span class="custom-label error mr-30px">Text</span>
    <span class="custom-label custom-label-left error mr-30px">Text</span>
</div>

<div class="d-flex flex-wrap mt-25px">
    <span class="custom-badge yellow mr-30px">Text</span>

    <span class="custom-badge custom-badge-background yellow text-white mr-30px">Text</span>

    <span class="custom-badge yellow mr-30px">
        <fa-icon icon="facBuildSuccess"></fa-icon>
        99+
    </span>

    <span class="custom-badge custom-badge-background yellow text-white mr-30px">
        <fa-icon icon="facBuildSuccess"></fa-icon>
        99+
    </span>

    <span class="custom-badge yellow mr-30px nested-badge">
        Text
        <fa-icon icon="facBuildSuccess"></fa-icon>
        <span class="custom-badge custom-badge-background yellow text-white ml-5px">99</span>
    </span>

    <span class="custom-label yellow mr-30px">Text</span>
    <span class="custom-label custom-label-left yellow mr-30px">Text</span>
</div>

<div class="d-flex flex-wrap mt-25px">
    <span class="custom-badge green mr-30px">Text</span>

    <span class="custom-badge custom-badge-background green text-white mr-30px">Text</span>

    <span class="custom-badge green mr-30px">
        <fa-icon icon="facBuildSuccess"></fa-icon>
        99+
    </span>

    <span class="custom-badge custom-badge-background green text-white mr-30px">
        <fa-icon icon="facBuildSuccess"></fa-icon>
        99+
    </span>

    <span class="custom-badge green mr-30px nested-badge">
        Text
        <fa-icon icon="facBuildSuccess"></fa-icon>
        <span class="custom-badge custom-badge-background green text-white ml-5px">99</span>
    </span>

    <span class="custom-label green mr-30px">Text</span>
    <span class="custom-label custom-label-left green mr-30px">Text</span>
</div>

<div class="d-flex flex-wrap mt-25px">
    <span class="custom-badge turquoise mr-30px">Text</span>

    <span class="custom-badge custom-badge-background turquoise text-white mr-30px">Text</span>

    <span class="custom-badge turquoise mr-30px">
        <fa-icon icon="facBuildSuccess"></fa-icon>
        99+
    </span>

    <span class="custom-badge custom-badge-background turquoise text-white mr-30px">
        <fa-icon icon="facBuildSuccess"></fa-icon>
        99+
    </span>

    <span class="custom-badge turquoise mr-30px nested-badge">
        Text
        <fa-icon icon="facBuildSuccess"></fa-icon>
        <span class="custom-badge custom-badge-background turquoise text-white ml-5px">99</span>
    </span>

    <span class="custom-label turquoise mr-30px">Text</span>
    <span class="custom-label custom-label-left turquoise mr-30px">Text</span>
</div>

<div class="d-flex flex-wrap mt-25px">
    <span class="custom-badge blue mr-30px">Text</span>

    <span class="custom-badge custom-badge-background blue text-white mr-30px">Text</span>

    <span class="custom-badge blue mr-30px">
        <fa-icon icon="facBuildSuccess"></fa-icon>
        99+
    </span>

    <span class="custom-badge custom-badge-background blue text-white mr-30px">
        <fa-icon icon="facBuildSuccess"></fa-icon>
        99+
    </span>

    <span class="custom-badge blue mr-30px nested-badge">
        Text
        <fa-icon icon="facBuildSuccess"></fa-icon>
        <span class="custom-badge custom-badge-background blue text-white ml-5px">99</span>
    </span>

    <span class="custom-label blue mr-30px">Text</span>
    <span class="custom-label custom-label-left blue mr-30px">Text</span>
</div>

<div class="d-flex flex-wrap mt-25px">
    <span class="custom-badge indigo mr-30px">Text</span>

    <span class="custom-badge custom-badge-background indigo text-white mr-30px">Text</span>

    <span class="custom-badge indigo mr-30px">
        <fa-icon icon="facBuildSuccess"></fa-icon>
        99+
    </span>

    <span class="custom-badge custom-badge-background indigo text-white mr-30px">
        <fa-icon icon="facBuildSuccess"></fa-icon>
        99+
    </span>

    <span class="custom-badge indigo mr-30px nested-badge">
        Text
        <fa-icon icon="facBuildSuccess"></fa-icon>
        <span class="custom-badge custom-badge-background indigo text-white ml-5px">99</span>
    </span>

    <span class="custom-label indigo mr-30px">Text</span>
    <span class="custom-label custom-label-left indigo mr-30px">Text</span>
</div>

<div class="d-flex flex-wrap mt-25px">
    <span class="custom-badge purple mr-30px">Text</span>

    <span class="custom-badge custom-badge-background purple text-white mr-30px">Text</span>

    <span class="custom-badge purple mr-30px">
        <fa-icon icon="facBuildSuccess"></fa-icon>
        99+
    </span>

    <span class="custom-badge custom-badge-background purple text-white mr-30px">
        <fa-icon icon="facBuildSuccess"></fa-icon>
        99+
    </span>

    <span class="custom-badge purple mr-30px nested-badge">
        Text
        <fa-icon icon="facBuildSuccess"></fa-icon>
        <span class="custom-badge custom-badge-background purple text-white ml-5px">99</span>
    </span>

    <span class="custom-label purple mr-30px">Text</span>
    <span class="custom-label custom-label-left purple mr-30px">Text</span>
</div>

<div class="d-flex flex-wrap mt-25px">
    <span class="custom-badge magenta mr-30px">Text</span>

    <span class="custom-badge custom-badge-background magenta text-white mr-30px">Text</span>

    <span class="custom-badge magenta mr-30px">
        <fa-icon icon="facBuildSuccess"></fa-icon>
        99+
    </span>

    <span class="custom-badge custom-badge-background magenta text-white mr-30px">
        <fa-icon icon="facBuildSuccess"></fa-icon>
        99+
    </span>

    <span class="custom-badge magenta mr-30px nested-badge">
        Text
        <fa-icon icon="facBuildSuccess"></fa-icon>
        <span class="custom-badge custom-badge-background magenta text-white ml-5px">99</span>
    </span>

    <span class="custom-label magenta mr-30px">Text</span>
    <span class="custom-label custom-label-left magenta mr-30px">Text</span>
</div>

<div class="d-flex flex-wrap mt-25px">
    <span class="custom-badge mauve mr-30px">Text</span>

    <span class="custom-badge custom-badge-background mauve text-white mr-30px">Text</span>

    <span class="custom-badge mauve mr-30px">
        <fa-icon icon="facBuildSuccess"></fa-icon>
        99+
    </span>

    <span class="custom-badge custom-badge-background mauve text-white mr-30px">
        <fa-icon icon="facBuildSuccess"></fa-icon>
        99+
    </span>

    <span class="custom-badge mauve mr-30px nested-badge">
        Text
        <fa-icon icon="facBuildSuccess"></fa-icon>
        <span class="custom-badge custom-badge-background mauve text-white ml-5px">99</span>
    </span>

    <span class="custom-label mauve mr-30px">Text</span>
    <span class="custom-label custom-label-left mauve mr-30px">Text</span>
</div>
