<div class="d-flex" style="gap: 1rem">
    <label radio-block>
        <input type="radio" ngModel name="metric" value="1" />
        <h3 class="my-0">Metric 1</h3>
    </label>
    <label radio-block>
        <input type="radio" ngModel name="metric" value="2" />
        <h3 class="my-0">Metric 2</h3></label
    >
    <label radio-block>
        <input type="radio" ngModel name="metric" disabled value="3" />
        <h3 class="my-0">Metric 3</h3></label
    >
    <label radio-block>
        <input type="radio" ngModel name="metric" value="4" />
        <h3 class="my-0">Metric 4</h3></label
    >
</div>

<div class="d-flex" style="gap: 1rem">
    <label radio-block selectionMode="fill">
        <input type="radio" ngModel name="metric1" value="1" />
        <h3 class="my-0">Metric 1</h3>
    </label>
    <label radio-block selectionMode="fill">
        <input type="radio" ngModel name="metric1" value="2" />
        <h3 class="my-0">Metric 2</h3></label
    >
    <label radio-block selectionMode="fill">
        <input type="radio" ngModel name="metric1" disabled value="3" />
        <h3 class="my-0">Metric 3</h3></label
    >
    <label radio-block selectionMode="fill">
        <input type="radio" ngModel name="metric1" value="4" />
        <h3 class="my-0">Metric 4</h3></label
    >
</div>
